---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="An app to create keyboard and mouse macros"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: #f25278;
    --second-accent: #fa71cd;
    --accent-gradient: linear-gradient(
      to top,
      var(--second-accent) 0%,
      var(--accent) 100%
    );
  }
  body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* General */
  }
  html {
    font-family: system-ui, sans-serif;
  }
</style>
