---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      Welcome to <span class="text-gradient">Auto-Spammer</span>
    </h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>

<script>
  import { register } from "@tauri-apps/plugin-global-shortcut";
  // import { register } from "../../node_modules/@tauri-apps/plugin-global-shortcut";
  import { invoke } from "@tauri-apps/api/core";
  // import { invoke } from "../../node_modules/@tauri-apps/api/";

  await register("p", async () => {
    console.log("OLA");
    await invoke("type_string", { string: "Hello World!" });
    // change the color of the background
  });
</script>
