---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Auto-Spammer.">
	<main>
		<div class="row">
			<a
				href="https://github.com/lucascompython/auto-spammer"
				target="_blank"
			>
				<img
					src="/icon.png"
					class="logo auto-spammer dark-mode-only"
					alt="Auto Spammer logo"
				/>
			</a>
		</div>
		<h2><strong>Auto-Spammer, a Macro Utility</strong></h2>
		<p>
			Recommended IDE setup:
			<a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
			+
			<a
				href="https://github.com/tauri-apps/tauri-vscode"
				target="_blank"
			>
				Tauri
			</a>
			+
			<a
				href="https://github.com/rust-lang/rust-analyzer"
				,target="_blank"
			>
				rust-analyzer
			</a>
		</p>
		<div class="row"></div>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding-top: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.logo.auto-spammer:hover {
		filter: drop-shadow(0 0 2em rgb(184, 81, 34));
	}

	#greet-input {
		margin-right: 5px;
	}
</style>
