---
import BaseLayout from "@layouts/BaseLayout.astro";
import GraphContainer from "@components/GraphContainer.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1>
      Welcome to <span class="text-gradient">Auto-Spammer</span>
    </h1>
    <GraphContainer client:load>
      <p>OLA</p>
    </GraphContainer>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>

<!-- <script>
  import {
    register,
    registerAll,
    isRegistered,
    unregister,
  } from "@tauri-apps/plugin-global-shortcut";
  import { invoke } from "@tauri-apps/api/core";

  await register("o", () => {
    console.log("Fired");
    invoke("type_string", {
      string: "switch",
    }).then(() => {
      console.log("Typed");
    });
  });
</script> -->
