---
import BaseLayout from "@layouts/BaseLayout.astro";
import Flow from "@components/Flow.svelte";
---

<BaseLayout title="Auto Spammer">
  <main>
    <Flow client:load />
  </main>
</BaseLayout>

<script>
  import { invoke } from "@tauri-apps/api/core";
  import { register } from "@tauri-apps/plugin-global-shortcut";

  // await register("o", async () => {
  //   await invoke("type_string", {
  //     string: "view monitor",
  //   });
  // });

  // await register("p", async () => {
  //   await invoke("type_string", {
  //     string: "switch",
  //   });
  // });
  let condition = true;
  const sequence: string[] = [];

  const handleKeyDown = (e: KeyboardEvent) => {
    if (!e.repeat) {
      sequence.push(e.key);
    }
  };

  const handleKeyUp = (e: KeyboardEvent) => {
    if (condition) {
      console.log("SEQUENCE: ", sequence.join(" + "));
      condition = false;

      document.removeEventListener("keydown", handleKeyDown);
      document.removeEventListener("keyup", handleKeyUp);
    }
  };

  const handleMouseDown = (e: MouseEvent) => {
    console.log("e.button");
    switch (e.button) {
      case 0:
        sequence.push("left click");
        break;
      case 1:
        sequence.push("middle click");
        break;
      case 2:
        sequence.push("right click");
        break;
      case 3:
        sequence.push("back click");
        break;
      case 4:
        sequence.push("forward click");
        break;
    }
  };

  const handleMouseUp = (e: MouseEvent) => {
    console.log("OLA");
    if (condition) {
      console.log("SEQUENCE: ", sequence.join(" + "));
      condition = false;

      document.removeEventListener("keydown", handleKeyDown);
      document.removeEventListener("keyup", handleKeyUp);
    }
  };

  document.addEventListener("keydown", handleKeyDown);
  document.addEventListener("keyup", handleKeyUp);

  document
    .getElementsByClassName("base-node")[0]
    .addEventListener("mousedown", handleMouseDown as EventListener);

  document
    .getElementsByClassName("base-node")[0]
    .addEventListener("mouseup", handleMouseUp as EventListener);
</script>
