---
import BaseLayout from "@layouts/BaseLayout.astro";
import GraphContainer from "@components/GraphContainer.svelte";
import "@xyflow/svelte/dist/style.css";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <GraphContainer client:load />
  </main>
</BaseLayout>

<script>
  import { invoke } from "@tauri-apps/api/core";
  import { register } from "@tauri-apps/plugin-global-shortcut";

  // await register("o", async () => {
  //   await invoke("type_string", {
  //     string: "view monitor",
  //   });
  // });

  // await register("p", async () => {
  //   await invoke("type_string", {
  //     string: "switch",
  //   });
  // });
</script>
