.input-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.input-container span {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: text;

  border-radius: 0.25rem;
  background: #4c4d4f;
  min-width: 5rem;
  max-width: 180px;

  margin-left: 1rem;
  margin-top: 0.25rem;

  border: 1px solid transparent;
  transition: border 0.2s ease;

  font-size: 0.9rem;
  font-weight: 400;

  &:focus {
    border: 1px solid #e92a67;
  }
}

.input-container:last-child {
  margin-bottom: 0.25rem;
}
